{% extends 'base.html.twig' %}
{% set title = 'Группы новостей' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs = {'breadcrumbs' : [{'label': title}]} %}
    {% include 'parts/breadcrumbs.html.twig' with breadcrumbs %}
{% endblock %}


{% block body %}


    <h1>{{ title }}</h1>

    <p>
        <a href="{{ path("newsGroupCreate") }}" class="btn btn-primary">Создать</a>
    </p>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Название', 'a.title') }}</th>
            <td>Скрыто</td>
            <td></td>
        </tr>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.title }}</td>
                <td>{{ not model.hidden ? 'Нет': 'Да' }}</td>
                <td>
                    <a href="{{ path('newsGroupView', {'id': model.id}) }}"><span
                                class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{{ path('newsGroupDelete', {'id': model.id}) }}"><span
                                class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>


    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}