{% extends 'base.html.twig' %}
{% set title = model.title %}

{% block breadcrumbs %}
    {% set breadcrumbs = {'breadcrumbs' : [{'url': path('newsIndex'), 'label': 'Новости'},{'label': title}]} %}
    {% include 'parts/breadcrumbs.html.twig' with breadcrumbs %}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p><a href="{{ path('newsUpdate', {'id': model.id}) }}" class="btn-primary btn">Редактировать</a></p>

    <p><a href="{{ path('newsDelete', {'id': model.id}) }}" class="btn-danger btn">Удалить</a></p>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>{{ model.id }}</td>
        </tr>
        <tr>
            <td>Заголовок</td>
            <td>{{ model.title }}</td>
        </tr>
        <tr>
            <td>Аннос</td>
            <td>{{ model.announce }}</td>
        </tr>
        <tr>
            <td>Текст</td>
            <td>{{ model.text }}</td>
        </tr>
        <tr>
            <td>Скрыто</td>
            <td>{{ model.hidden ? 'Да' : 'Нет' }}</td>
        </tr>
    </table>
{% endblock %}